

.sidebar {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
  
    
    height: 100vh;
    color: white;
    background: rgb(3, 24, 41);
}
.container-fluid,.row{
    margin: 0px!important;
    padding: 0px!important;
}
#sidebar.active{
    width: 65px;
    transition: 0.1s;
}
.header{
    width: 800px;
    height: 50px;
    border-radius: 90px;
    background-color: rgb(207, 207, 207);
    
}
#sidebar ul{
    padding: 4px;
    padding-top: 35px;
}
#sidebar ul li{
    /* font-family: 'Assistant', sans-serif; */
    font-size: 14pt;
    color: white;
    text-align: left;
    line-height: 60px;
    display: list-item;
    height: 100%;
    width: 100%;
    transition: .3s;
    cursor: pointer;
    user-select: none;
}
#sidebar ul li.active{
    border-left: 1.5px solid black;
}
#sidebar ul li .menutop, .icon{
    transition: .2s;
    padding-left: 10px;   
}

#sidebar.active ul li .cap, #sidebar.active .icon .head{
    display: none;
}
#sidebar ul li .menutop:hover{
   transform: scale(1.1);
}

#sidebar ul li:hover{
    border-left: 1.5px solid black;
}

#dash-content, #sidebar {
    overflow-y: scroll;
}

#dash-content {
    height: 100vh;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}